DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174,http://127.0.0.1:5173,http://127.0.0.1:5174

AOI_USE_MOCK_DATA=false
DJANGO_DATABASE=oracle
AOI_SOURCE_DB_SCHEMA=OFCSEUC

ORACLE_SERVICE_NAME=
ORACLE_DSN=
ORACLE_USER=
ORACLE_PASSWORD=
ORACLE_HOST=
ORACLE_PORT=1521
ORACLE_CLIENT_LIB_DIR=

