<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="C:\web\AOI_process_dashboard\backend" />
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="DJANGO_SETTINGS_MODULE" value="aoi_dashboard.settings" />
    <add key="WSGI_LOG" value="C:\web\AOI_process_dashboard\backend\wfastcgi.log" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="AOI Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\web\AOI_process_dashboard\backend\venv\Scripts\python.exe|C:\web\AOI_process_dashboard\backend\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpErrors errorMode="Detailed" />
    <httpRedirect enabled="false" destination="" exactDestination="true" />
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
